studyLog/acorncampus_studyLog/.idea/workspace.xml
studyLog/acorncampus_studyLog/.idea/sqldialects.xml
studyLog/acorncampus_studyLog/.sisyphus/run-continuation/ses_1ea4bf6e9ffezvbYvs52uzXEXO.json
studyLog/acorncampus_studyLog/.sisyphus/run-continuation/ses_1ea4ec8a9ffe6rSjIeJeHameSX.json
